<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <script type="text/javascript">
        var myApp = angular.module('myApp', []);

        myApp.controller('appController', ['$scope', '$http', '$q', function ($scope, $http, $q) {
            $scope.calls = [];
            
            $scope.getData = function() {
                var firstCallData = $http.get("#", {name: "John"});
                var secondCallData = $http.get("#", {name: "Sam"});
                $q.all([firstCallData, secondCallData])
                    .then(function (response) {
                        $scope.calls.push(response);
                    });
            };
        }]);
    </script>
</head>

<body ng-controller="appController as app">
    <button data-ng-click="getData()">Get Data</button>
    <div ng-repeat="call in calls">
        <p>First Call: {{call[0].config.name}}</p>
        <p>Second Call: {{call[1].config.name}}</p>
    </div>
</body>
</html>